.listItem-container {
    width: 30%;
    padding: 10px;
}

.taskItem {
    margin-bottom: 4pc;
}

.example-button-container {
    button {
        margin-inline: 5px;
    }
    margin: 0px;
}

.header-lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2px;
    h2 {
        margin: 0px;
    }
    align-items: center;
    gap: 6px;
}

::ng-deep {
    .mdc-list-item__primary-text {
        color: black !important;
    }
}
section {
    margin: 10px;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.mat-list-item {
    border: 1px solid;
    border-radius: 8px;
    padding-inline: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
