<mat-toolbar>
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button> -->
  <div style="width: 20%;">
    <span>Tapsell Todo list</span>
  </div>
  <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button> -->
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button> -->

  <div style="width: 80%;text-align: center">
    <a style="margin-inline: 90px;" href="/">Main</a>
    <a href="/completed">Completed</a>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>