<section cdkDropListGroup>
    @for (cardList of allLists; track cardList) {
    <!--? Drag Drop Dynamic Components  -->
    <app-drag-drop-list [cardList]="cardList" (moveTONewList)="moveToNewList($event)" (newTask)="newTask($event)"
        (updateList)="updateList($event)" [connectedLists]="connectedLists" (removeList)="removeList($event)"
        (showDetailTask)="showDetailTask($event)"></app-drag-drop-list>
    }
    <div class="example-button-container">
        <button mat-fab (click)="newList()" extended>
            <mat-icon>add</mat-icon>
            Add List
        </button>
    </div>
</section>